@use '_assets/styles/setup/utils';
@use '_assets/styles/setup/sizes';
@use '_assets/styles/setup/variables';

.features-list {
  padding-bottom: sizes.$r30;

  h2 {
    text-align: center;
    font-weight: 600;
    font-size: sizes.$r36;
  }
}

.features-list__list {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    margin: sizes.$r24;
  }
}

.features-list__link {
  text-align: center;
  margin: sizes.$r24 0 sizes.$r30;
}

@media screen and (max-width: #{variables.$wide-content-width}) {
  .features-list__list {
    text-align: center;

    > li {
      max-width: sizes.$r200;
      width: 100%;
      display: inline-block;
      vertical-align: top;
    }
  }
}

@media screen and (min-width: #{variables.$wide-content-width + 1px}) {
  .features-list__list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;

    > li {
      flex: 1;
    }
  }
}
