@use '_assets/styles/setup/utils';
@use '_assets/styles/setup/sizes';

.features-list {
  h2 {
    text-align: center;
    font-weight: 600;
    font-size: sizes.$r36;
  }
}

.features-list__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    flex: 1;
    margin: sizes.$r24;
  }
}
