@use 'colors';
@use '_assets/styles/setup/variables';
@use '_assets/styles/setup/sizes';
@use '_assets/styles/setup/utils';
@use '_assets/styles/setup/fonts';

.post-help {
  @include utils.clearfix;

  padding: sizes.$r70 0;
}

.post-help h2 {
  @include utils.limit-content-width;

  font-weight: 600;
  font-size: sizes.$r36;
  margin-bottom: sizes.$r36;
}

.post-help p {
  @include utils.limit-content-width;

  margin-bottom: fonts.$leading-default-rem;
}

@media screen and (min-width: #{variables.$wide-content-width + 1px}) {
  .post-help__donate {
    float: right;
    margin-left: sizes.$r36;
    width: 50%;
  }
}
