@use 'colors';
@use '_assets/styles/setup/variables';
@use '_assets/styles/setup/sizes';
@use '_assets/styles/setup/utils';

.post-related {
  @include utils.limit-content-width;

  padding: sizes.$r50 0;
}

.post-related h2 {
  font-weight: 600;
  font-size: sizes.$r36;
  margin: 0 auto sizes.$r30;
}
