@use 'colors';
@use '_assets/styles/setup/sizes';
@use '_assets/styles/setup/variables';
@use '_assets/styles/setup/fonts';
@use '_assets/styles/setup/utils';
@use '_assets/styles/components/long-text-content';

.post {
  @include utils.clearfix;

  padding: sizes.$r70 0 sizes.$r30;
}

.post__header,
.post__social {
  @include long-text-content.limit-content-width;
}

.post__header {
  margin-bottom: sizes.$r36;
}

.post__header h1 {
  display: block;
  font-size: sizes.$r46;
  font-weight: 700;
  color: colors.$kobo-gray-24;
  margin: 0 auto sizes.$r24;
}

.post__header h2 {
  font-family: fonts.$family-default;
  display: block;
  font-size: sizes.$r15;
  font-weight: 700;
  color: colors.$kobo-storm;
  text-transform: uppercase;
  margin: 0 auto sizes.$r10;
}

.post__author {
  font-size: sizes.$r19;
  font-weight: 700;

  &::before {
    content: '';
    width: 2px;
    height: sizes.$r10;
    background-color: colors.$kobo-blue;
    vertical-align: sizes.$r1;
    margin: 0 sizes.$r19;
  }
}

.post__social {
  @include utils.center-row-flex;

  list-style: none;
  margin-bottom: sizes.$r30;
}

.post__social li + li {
  margin-left: sizes.$r24;
}

.post__content a {
  text-decoration: underline;
  color: colors.$kobo-dark-blue;

  &:hover {
    color: colors.$kobo-teal;
  }
}

.post__content blockquote {
  border-left: sizes.$r8 solid colors.$kobo-blue;
  padding-left: sizes.$r24;
  color: colors.$kobo-dark-blue;
  font-family: fonts.$family-headings;
}
