root = true

[*.{es6,js,json,jsx,ts,tsx,coffee,scss,css,html,yml,liquid,md}]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
