# Jekyll site is built by gh-pages
docs
.jekyll-metadata
.jekyll-cache

# Assets for Jekyll site (built by GH actions)
assets

# NPM
node_modules
npm-debug.log

# OS generated
.DS_Store
Thumbs.db

# Misc
*sublime-*

# Bundler
.parcel-cache