---
title: null
page_id: "home"
---

{% include sections/home-banner.liquid %}

<div class="root__row root__row--light-blue">
  <div class="root__row-content">
    Changing the world, one survey at a time
  </div>
</div>

<div class="root__row">
  <div class="root__row-content">
    Open-source data collection
  </div>
</div>

<div class="root__row">
  <div class="root__row-content">
    Get started
  </div>
</div>

{% include sections/faqs.liquid %}

<div class="root__row root__row--teal">
  <div class="root__row-content">
    Partners
  </div>
</div>
