<div class="root__row about-us-cta">
  <div class="root__row-content">
    <section class="about-us-cta__content">
      <div class="about-us-cta__left">
        <h2>Interested in partnering?<br/>Get in touch with us</h2>

        <p>Here at KoboToolbox we work hard to make data collection inclusive and accessible to all. Donate today and help us keep KoboToolbox free and open source.</p>

        {% include components/button.liquid
          size="l"
          type="bare"
          color="dark-blue"
          label="Get in touch &rarr;"
          url="/contact"
        %}
      </div>

      <div class="about-us-cta__right">
        <h2>Want to support us?<br/>Donate now!</h2>

        <p>Here at KoboToolbox we work hard to make data collection inclusive and accessible to all. Donate today and help us keep KoboToolbox free and open source.</p>

        {% include components/button.liquid
          size="l"
          type="bare"
          color="dark-blue"
          label="Donate now &rarr;"
          url="/donate"
        %}
      </div>
    </section>
  </div>
</div>
