{% comment %}
This is the banner section for blog page.
{% endcomment %}
<div class="root__row picture-banner blog-banner">
  {% include components/picture-banner-background.liquid image_url="sections/blog-kobo-2929.jpg" %}
  <div class="root__row-content picture-banner__text banner-text">
    <h2>The KoboToolbox blog</h2>
    <h1>Beyond the<br/>technology</h1>
    <p>We work hard to make an impact. We are not just the technolgy we offer, but the positive change we enable. These stories shed light on the great work many organizations have been able to do with KoboToolbox.</p>
  </div>
</div>