{% comment %}
This is the banner section for features page.
{% endcomment %}
<div class="root__row picture-banner" id="features-banner">
  {% include components/picture-banner-background.liquid image_url="test/mad-max-beyond-thunderdome.jpg" %}
  <div class="root__row-content banner-text">
    <h1>Easy data collection,<br/>in every context,<br/>for everyone.</h1>
    <h2>Trusted by organizations making a difference around the world</h2>
  </div>
</div>