{% comment %}
This is the section that displays the impact numbers.
{% endcomment %}
<div class="root__row root__row--light-blue home-impact">
  <div class="root__row-content">
    <h1>Answering world questions,<br/>one survey at a time</h1>

    <ul class="home-impact__list">
      <li>
        <figure><em>999+</em> million</figure>
        <label>Surveys</label>
      </li>

      <li>
        <figure><em>201</em></figure>
        <label>Countries</label>
      </li>

      <li>
        <figure><em>999+</em> thousand</figure>
        <label>Organizations</label>
      </li>
    </ul>
  </div>
</div>
