{% comment %}
This is the banner section for home page.
{% endcomment %}
<div class="root__row picture-banner" id="home-banner">
  {% include components/picture-banner-background.liquid image_url="test/mad-max-beyond-thunderdome.jpg" %}
  <div class="root__row-content banner-text">
    <h1>Enabling<br/>humanitarians<br/>understanding those<br/>who need it most.</h1>
    <h2>The free & open source data collection standard</h2>
  </div>
</div>