<div class="root__row root__row--light-teal">
  <div class="root__row-content">
    <section class="join-community">
      <div class="join-community__column join-community__column--image">
        <img src="todo.svg"/>
      </div>

      <div class="join-community__column join-community__column--title">
        <h2>
          <div>Sounds Good?</div>
          <div>Join the community!</div>
        </h2>

        {% include components/button.liquid
          size="m"
          type="bare"
          color="blue"
          label="Learn more how to contribute &rarr;"
          url="https://community.kobotoolbox.org"
        %}
      </div>

      <div class="join-community__column join-community__column--description">
        <p>TODO Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
      </div>
    </section>
  </div>
</div>
