{% comment %}
The post call to action section.
{% endcomment %}
<div class="root__row root__row--storm">
  <div class="root__row-content">
    <section class="post-help">
      <h2>Make work like this possible</h2>

      {% include components/fundraiseup.liquid %}

      <p>This is an example of the work we do and the impact we enable. We believe free and open-source data collection can change the lives of millions for better, and we work hard to make that possible.</p>

      <p><strong class="text-highlighted">But we can’t do it alone.</strong></p>

      <p>We need your help to keep KoboToolbox free, useful and accessible to everyone. Support our work with as little or as much as you want, and become part of a growing community of inclusive data collection advocates.</p>
    </section>
  </div>
</div>
