---
title: "Meet the team"
layout: "about-us-subpage"
menu:
  -
    label: "Leadership"
    target_id: "leadership"
  -
    label: "Core team"
    target_id: "core"
  -
    label: "Former members"
    target_id: "former"
---

<p>We are a team of passionate researchers, developers, designers and data management specialists working remotely from all corners of the world. We maintain a horizontal, creative and flexible workflow that ensures KoboToolbox continues to be an innovative global good.</p>

<h2 id="leadership">Leadership</h2>

{% assign leadership_team_members = site.data.team | where:"group","leadership" %}
{% include components/humans-list.liquid humans=leadership_team_members %}

<h2 id="core">Core team</h2>

{% assign core_team_members = site.data.team | where:"group","core" | sort:"year_started" %}

{% include components/humans-list.liquid humans=core_team_members %}

<h2 id="former">Former members</h2>

{% include sections/former-team-members.liquid %}
