// 0. We don't import variables into global context.

@import '../../node_modules/tiny-slider/dist/tiny-slider.css';

// We use Lora for headings, and Inter for everything else.
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lora:wght@600&display=swap');

// 1. setup styles
@import 'setup/normalize';
@import 'setup/base';
@import 'setup/root-layout';

// 2. components
@import 'components/banner-text';
@import 'components/button';
@import 'components/feature-card';
@import 'components/feature-row';
@import 'components/footer-nav';
@import 'components/header-nav';
@import 'components/image';
@import 'components/link-card';
@import 'components/long-text-content';
@import 'components/picture-banner';
@import 'components/post-card';
@import 'components/post-link';
@import 'components/post-meta';
@import 'components/post-summary';
@import 'components/quick-links';
@import 'components/server-card';
@import 'components/small-banner';
@import 'components/thumbnail';
@import 'components/video';
@import 'components/word-typer';

// 3. sections
@import 'sections/about-us-cta';
@import 'sections/about-us-nav';
@import 'sections/about-us-subpage';
@import 'sections/blog-banner';
@import 'sections/blog-pagination';
@import 'sections/donate';
@import 'sections/faqs';
@import 'sections/featured-posts';
@import 'sections/features-banner';
@import 'sections/features-list';
@import 'sections/get-started';
@import 'sections/home-banner';
@import 'sections/join-community';
@import 'sections/partners';
@import 'sections/post-help';
@import 'sections/post-related';
@import 'sections/post';
@import 'sections/sign-up-banner';
@import 'sections/sign-up-servers';
