{% comment %}
The <a> is being replaced by <iframe> with a FundraiseUp script.

@param {boolean} in_box - displays it in a box with shadow around it
{% endcomment %}
<div class="donation-form {% if include.in_box %}donation-form--in-box{% endif %}">
  <a href="#XESYHRGF" style="display: none"></a>
</div>
