{% comment %}
Background for picture-banner component that takes 100% given space.

@param image_url - path relative to assets/images/
{% endcomment %}
<div 
  class="picture-banner__background" 
  style="background-image: url('{{site.url}}/assets/images/{{include.image_url}}');"
></div>
