{% comment %}
A small banner with optional illustration on right side.

@prop title - big text to be displayed
@prop image_url - path to svg illustration, relative to assets/images/
{% endcomment %}
<div class="root__row small-banner">
  <div class="root__row-content banner-text">
    <h1>{{include.title}}</h1>
    {% if include.image_url and include.image_url != "" and include.image_url != nil %}
      <img src="{{include.image_url}}"/>
    {% endif %}
  </div>
</div>