@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lora:wght@600&display=swap";
.tns-outer{padding:0 !important}.tns-outer [hidden]{display:none !important}.tns-outer [aria-controls],.tns-outer [data-action]{cursor:pointer}.tns-slider{-webkit-transition:all 0s;-moz-transition:all 0s;transition:all 0s}.tns-slider>.tns-item{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.tns-horizontal.tns-subpixel{white-space:nowrap}.tns-horizontal.tns-subpixel>.tns-item{display:inline-block;vertical-align:top;white-space:normal}.tns-horizontal.tns-no-subpixel:after{content:'';display:table;clear:both}.tns-horizontal.tns-no-subpixel>.tns-item{float:left}.tns-horizontal.tns-carousel.tns-no-subpixel>.tns-item{margin-right:-100%}.tns-no-calc{position:relative;left:0}.tns-gallery{position:relative;left:0;min-height:1px}.tns-gallery>.tns-item{position:absolute;left:-100%;-webkit-transition:transform 0s, opacity 0s;-moz-transition:transform 0s, opacity 0s;transition:transform 0s, opacity 0s}.tns-gallery>.tns-slide-active{position:relative;left:auto !important}.tns-gallery>.tns-moving{-webkit-transition:all 0.25s;-moz-transition:all 0.25s;transition:all 0.25s}.tns-autowidth{display:inline-block}.tns-lazy-img{-webkit-transition:opacity 0.6s;-moz-transition:opacity 0.6s;transition:opacity 0.6s;opacity:0.6}.tns-lazy-img.tns-complete{opacity:1}.tns-ah{-webkit-transition:height 0s;-moz-transition:height 0s;transition:height 0s}.tns-ovh{overflow:hidden}.tns-visually-hidden{position:absolute;left:-10000em}.tns-transparent{opacity:0;visibility:hidden}.tns-fadeIn{opacity:1;filter:alpha(opacity=100);z-index:0}.tns-normal,.tns-fadeOut{opacity:0;filter:alpha(opacity=0);z-index:-1}.tns-vpfix{white-space:nowrap}.tns-vpfix>div,.tns-vpfix>li{display:inline-block}.tns-t-subp2{margin:0 auto;width:310px;position:relative;height:10px;overflow:hidden}.tns-t-ct{width:2333.3333333%;width:-webkit-calc(100% * 70 / 3);width:-moz-calc(100% * 70 / 3);width:calc(100% * 70 / 3);position:absolute;right:0}.tns-t-ct:after{content:'';display:table;clear:both}.tns-t-ct>div{width:1.4285714%;width:-webkit-calc(100% / 70);width:-moz-calc(100% / 70);width:calc(100% / 70);height:10px;float:left}


/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
html {
  height: 100%;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  background-color: white;
  color: #333847;
}
@media (max-width: 1440px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 1440px) and (min-width: 360px) {
  html {
    font-size: calc(
          12px + 3 *
            ((100vw - 360px) / 1080)
        );
  }
}
@media screen and (max-width: 1440px) and (min-width: 1440px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1441px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 1441px) and (min-width: 1440px) {
  html {
    font-size: calc(
          15px + 3 *
            ((100vw - 1440px) / 480)
        );
  }
}
@media screen and (min-width: 1441px) and (min-width: 1920px) {
  html {
    font-size: 18px;
  }
}
* {
  box-sizing: border-box;
}
a {
  color: currentcolor;
  text-decoration: none;
}
:focus-visible {
  outline: 0.1333333333rem solid #259af4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  line-height: 1.4;
  margin: 1em 0;
}
[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
.text-highlighted {
  background: #c2e4ff;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.root {
  min-height: 100%;
  height: 100%;
}
.root__header {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  height: 4.6666666667rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}
.root__header::after {
  content: "";
  height: 0.6666666667rem;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: transparent;
  transition-duration: 0.5s;
  transition-property: background-color;
  transition-delay: 0.25s;
  transition-timing-function: ease-in-out;
}
.root.root--is-scrolled .root__header::after {
  background-color: rgba(30, 33, 41, 0.05);
}
.root__main {
  min-height: calc(100% - 4.6666666667rem);
  padding-top: 4.6666666667rem;
}
.root__footer {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  color: white;
  background-color: #565e76;
}
.root__row {
  width: 100%;
}
.root__row.root__row--light-blue {
  background-color: #e6f4ff;
}
.root__row.root__row--mid-blue {
  background-color: #c2e4ff;
}
.root__row.root__row--light-teal {
  background-color: #d3f0f3;
}
.root__row.root__row--teal {
  color: white;
  background-color: #53c5d0;
}
.root__row.root__row--storm {
  background-color: #f2f5fc;
}
.root__row.root__row--gray {
  background-color: #f9f9fb;
}
.root__row.root__row--white {
  background-color: white;
}
.root__row-content {
  margin: 0 auto;
  width: 100%;
  max-width: 76rem;
}
.root__row-content.root__row-content--wide {
  max-width: 85.3333333333rem;
}
.root__row-content.root__row-content--full {
  max-width: 96rem;
}
@media screen and (max-width: 1140px) {
  .root__row-content {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.banner-text h1 {
  display: block;
  font-size: 3.0666666667rem;
  font-weight: 600;
  color: #333847;
  margin: 2rem 0;
}
.banner-text h2 {
  font-family: "Inter", sans-serif;
  display: block;
  font-size: 0.8666666667rem;
  font-weight: 600;
  color: #7485b9;
  text-transform: uppercase;
}
@media screen and (max-width: 1140px) {
  .banner-text h1 div {
    display: inline;
  }

  .banner-text {
    text-align: center;
  }
}
@media screen and (min-width: 1141px) {
  .banner-text h1,
.banner-text h2,
.banner-text p {
    width: 50%;
  }
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
/**
 * Button component - please use `button.liquid` instead of these classes directly.
 */
.button {
  cursor: pointer;
  color: inherit;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 0;
  display: inline-block;
  border-width: 0.0666666667rem;
  border-style: solid;
  border-color: transparent;
  border-radius: 0.4rem;
  background-color: transparent;
}
.button:active {
  transform: translateY(0.0666666667rem);
}
.button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
.button.button--color-blue.button--type-bare {
  color: #259af4;
}
.button.button--color-blue.button--type-bare:hover {
  color: #0d8ff2;
  background-color: rgba(30, 33, 41, 0.06);
}
.button.button--color-blue.button--type-frame {
  color: #259af4;
  border-color: #259af4;
}
.button.button--color-blue.button--type-frame:hover {
  color: white;
  background-color: #259af4;
}
.button.button--color-blue.button--type-light {
  color: #259af4;
  background-color: rgba(30, 33, 41, 0.06);
}
.button.button--color-blue.button--type-light:hover {
  color: #0d8ff2;
  background-color: rgba(30, 33, 41, 0.1);
}
.button.button--color-blue.button--type-full {
  color: white;
  background-color: #259af4;
  border-color: #259af4;
}
.button.button--color-blue.button--type-full:hover {
  background-color: #0d8ff2;
  border-color: #0d8ff2;
}
.button.button--color-dark-blue.button--type-bare {
  color: #085996;
}
.button.button--color-dark-blue.button--type-bare:hover {
  color: #074a7e;
  background-color: rgba(30, 33, 41, 0.06);
}
.button.button--color-dark-blue.button--type-frame {
  color: #085996;
  border-color: #085996;
}
.button.button--color-dark-blue.button--type-frame:hover {
  color: white;
  background-color: #085996;
}
.button.button--color-dark-blue.button--type-light {
  color: #085996;
  background-color: rgba(30, 33, 41, 0.06);
}
.button.button--color-dark-blue.button--type-light:hover {
  color: #074a7e;
  background-color: rgba(30, 33, 41, 0.1);
}
.button.button--color-dark-blue.button--type-full {
  color: white;
  background-color: #085996;
  border-color: #085996;
}
.button.button--color-dark-blue.button--type-full:hover {
  background-color: #074a7e;
  border-color: #074a7e;
}
.button.button--color-storm.button--type-bare {
  color: #7485b9;
}
.button.button--color-storm.button--type-bare:hover {
  color: #6376b0;
  background-color: rgba(30, 33, 41, 0.06);
}
.button.button--color-storm.button--type-frame {
  color: #7485b9;
  border-color: #7485b9;
}
.button.button--color-storm.button--type-frame:hover {
  color: white;
  background-color: #7485b9;
}
.button.button--color-storm.button--type-light {
  color: #7485b9;
  background-color: rgba(30, 33, 41, 0.06);
}
.button.button--color-storm.button--type-light:hover {
  color: #6376b0;
  background-color: rgba(30, 33, 41, 0.1);
}
.button.button--color-storm.button--type-full {
  color: white;
  background-color: #7485b9;
  border-color: #7485b9;
}
.button.button--color-storm.button--type-full:hover {
  background-color: #6376b0;
  border-color: #6376b0;
}
.button.button--size-m {
  min-height: 1.44rem;
  min-width: 2.4rem;
  line-height: 1.3066666667rem;
  font-size: 0.8666666667rem;
  padding: 0.48rem 0.96rem;
}
.button.button--size-l {
  min-height: 2rem;
  min-width: 3.3333333333rem;
  line-height: 1.8666666667rem;
  font-size: 1rem;
  padding: 0.6666666667rem 1.3333333333rem;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.feature-card {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.feature-card label {
  cursor: inherit;
  font-weight: 600;
  font-size: 1.2666666667rem;
  color: #085996;
  line-height: 1.4;
  margin-top: 1rem;
  display: block;
}
.feature-card:hover label {
  -webkit-text-decoration: underline solid 0.2666666667rem #53c5d0;
          text-decoration: underline solid 0.2666666667rem #53c5d0;
}
.feature-card:active {
  transform: translateY(0.0666666667rem);
}
.feature-card__icon {
  max-width: 100%;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.feature-row__content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 auto;
  width: 100%;
  max-width: 96rem;
}
.feature-row__content h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  margin: 2rem 0;
}
.feature-row__content p {
  margin: 0;
}
.feature-row__left-side {
  width: 40%;
  padding-left: 150px;
  padding-right: 2rem;
  padding-top: 4.6666666667rem;
  padding-bottom: 6.6666666667rem;
}
.feature-row__right-side {
  width: 60%;
}
.feature-row__right-side:not(.feature-row__right-side--no-paddings) {
  padding: 3.3333333333rem 0;
}
.feature-row__icon {
  max-width: 8rem;
  max-height: 8rem;
}
.feature-row__image {
  display: block;
  max-width: 100%;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.footer-nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5.3333333333rem 0;
  width: 100%;
}
.footer-nav__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-nav__menu label {
  font-weight: 400;
  font-size: 1rem;
  color: #e6f4ff;
  text-transform: uppercase;
}
.footer-nav__menu li a {
  font-weight: 600;
  font-size: 1rem;
  color: white;
  margin-top: 1.2666666667rem;
  display: block;
}
.footer-nav__menu li a:hover {
  -webkit-text-decoration-color: #53c5d0;
          text-decoration-color: #53c5d0;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  text-decoration-thickness: 0.1333333333rem;
}
.footer-nav__logo {
  display: block;
}
.footer-nav__logo img {
  width: 12rem;
  transform: scale(1);
  transition: transform 0.25s ease-out;
}
.footer-nav__logo:hover img {
  transform: scale(1.025);
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.header-nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 100%;
}
.header-nav__logo {
  display: block;
}
.header-nav__logo img {
  width: 12rem;
  transform: scale(1);
  transition: transform 0.25s ease-out;
}
.header-nav__logo:hover img {
  transform: scale(1.025);
}
.header-nav__menu {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
  list-style: none;
  margin: 0 0.6666666667rem;
  padding: 0;
}
.header-nav__menu-item {
  padding: 0 0.6666666667rem;
  margin: 0 0.6666666667rem;
  color: #333847;
  font-size: 0.8666666667rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  height: 4.6666666667rem;
  line-height: 4.6666666667rem;
  display: block;
  position: relative;
  white-space: nowrap;
}
.header-nav__menu-item::after {
  content: "";
  width: 2rem;
  height: 0.5333333333rem;
  position: absolute;
  bottom: 0;
  left: calc(50% - 1rem);
  background-color: transparent;
  transform: scaleY(0);
  transform-origin: 50% 100%;
  transition-property: transform, background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  transition-delay: 0.1s;
}
.header-nav__menu-item.header-nav__menu-item--active::after {
  background-color: #53c5d0;
  transform: scaleY(1);
}
.header-nav__menu-item:not(.header-nav__menu-item--active):hover::after {
  background-color: #53c5d0;
  transform: scaleY(1);
}
.header-nav__buttons {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  list-style: none;
  margin: 0 0 0 0.6666666667rem;
  padding: 0;
}
.header-nav__buttons > li + li {
  margin-left: 0.6666666667rem;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.image {
  display: block;
  text-align: center;
  margin: 1.6rem auto;
}
.image img {
  display: block;
  margin: 0 auto;
  max-width: 76rem;
  max-height: 33.3333333333rem;
}
.image.image--left {
  float: left;
  margin: 0 1.6rem 1.6rem 0;
}
.image.image--left img {
  margin-right: 0;
}
.image.image--right {
  float: right;
  margin: 0 0 1.6rem 1.6rem;
}
.image.image--right img {
  margin-left: 0;
}
.image.image--left,
.image.image--right {
  width: 40%;
  min-width: 13.3333333333rem;
}
.image.image--left img,
.image.image--right img {
  max-width: 100%;
}
.image.image--full {
  width: 100%;
}
.image__link {
  display: block;
}
.image__link[href] {
  cursor: pointer;
}
.image__link[href]:hover {
  box-shadow: 0 0 0.0666666667rem 0.0666666667rem #259af4;
}
.image figcaption {
  padding: 0.6666666667rem 0 0;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.link-card {
  display: flex;
  flex-direction: column;
}
.link-card__thumbnail {
  display: block;
  position: relative;
  width: 100%;
  height: 13.3333333333rem;
  border-radius: 0.4rem;
  overflow: hidden;
}
.link-card__title {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #333847;
  margin: 2rem 0 1.6rem;
  flex: 1;
}
.link-card__title a:hover {
  -webkit-text-decoration: underline solid 0.2666666667rem #53c5d0;
          text-decoration: underline solid 0.2666666667rem #53c5d0;
}
.link-card__description {
  margin: 0 0 1.6rem;
}
.link-card__link {
  margin: 0 0 1rem;
  text-align: right;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.picture-banner {
  overflow: hidden;
  position: relative;
  background-color: white;
}
.picture-banner__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: calc(50% + 24rem);
  background-repeat: no-repeat;
  background-position: right top;
  background-color: rgba(8, 89, 150, 0.5);
  background-blend-mode: screen;
}
.picture-banner__background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: calc(50% + 24rem);
  height: 100%;
  background-color: white;
}
.picture-banner__background::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 24rem);
  width: 48rem;
  height: 100%;
  background-image: linear-gradient(72.57deg, white 30.94%, transparent 77.57%);
}
.picture-banner__text {
  position: relative;
  z-index: 2;
  margin: 4.6666666667rem auto;
}
@media screen and (max-width: 1140px) {
  .picture-banner__background {
    background-size: cover;
    background-position: center top;
    opacity: 0.5;
  }
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.post-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  overflow: hidden;
  border: 0.0666666667rem solid #d3d6df;
  background-color: white;
}
.post-card__thumbnail {
  display: block;
  position: relative;
  width: 100%;
  height: 10.6666666667rem;
}
.post-card__thumbnail:focus-visible {
  outline: 0;
}
.post-card__thumbnail:focus-visible .thumbnail .thumbnail__image {
  box-shadow: inset 0 0 0 0.2666666667rem #259af4;
}
.post-card h3 {
  font-size: 1.2666666667rem;
  color: #333847;
  margin: 2rem;
  flex: 1;
}
.post-card h3 a:hover {
  -webkit-text-decoration: underline solid 0.2666666667rem #53c5d0;
          text-decoration: underline solid 0.2666666667rem #53c5d0;
}
.post-card footer {
  margin: 0 1rem 1rem;
  text-align: right;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.post-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1.2666666667rem 0;
}
.post-link + .post-link {
  border-top: 0.0666666667rem solid #6bbfff;
}
.post-link__content {
  flex: 1;
}
.post-link__icon {
  margin-right: 1rem;
}
.post-link__icon,
.post-link__content time {
  color: #259af4;
}
.post-link__icon,
.post-link__content a {
  font-size: 1.2666666667rem;
}
.post-link__content a {
  display: block;
  color: #085996;
  margin: 0 0 0.6666666667rem;
  text-decoration: underline;
}
.post-link__content a:hover {
  text-decoration-thickness: 0.1333333333rem;
}
.post-link__content time {
  display: block;
  font-size: 0.8666666667rem;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.post-meta {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  color: #565e76;
}
.post-meta__author {
  font-size: 1.2666666667rem;
  font-weight: 700;
}
.post-meta__divider {
  display: block;
  width: 0.1333333333rem;
  height: 0.8666666667rem;
  background-color: #259af4;
  vertical-align: 0.0666666667rem;
  margin: 0 1.2666666667rem;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.post-summary {
  display: flex;
  flex-direction: row;
  padding: 3.3333333333rem 0;
}
.post-summary + .post-summary {
  border-top: 0.0666666667rem solid #e7e9ee;
}
.post-summary__left {
  padding-right: 3.3333333333rem;
}
.post-summary__right {
  display: flex;
  flex-direction: column;
}
.post-summary__thumbnail {
  display: block;
  position: relative;
  width: 13.3333333333rem;
  height: 13.3333333333rem;
  overflow: hidden;
  border-radius: 0.4rem;
}
.post-summary h2 {
  margin: 0;
  color: #085996;
}
.post-summary h2 a:hover {
  -webkit-text-decoration: underline solid 0.2666666667rem #53c5d0;
          text-decoration: underline solid 0.2666666667rem #53c5d0;
}
.post-summary p {
  flex: 1;
  margin: 1.6rem 0;
}
.quick-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.quick-links > li {
  width: calc(33.3333% - 3.1111111111rem);
  margin-bottom: 4.6666666667rem;
}
.quick-links > li:nth-child(3n+1), .quick-links > li:nth-child(3n+2) {
  margin-right: 4.6666666667rem;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.server-card {
  width: 100%;
  max-width: 34.9333333333rem;
  display: flex;
  margin: 1.6rem;
  padding: 3.3333333333rem 3.3333333333rem 4.6666666667rem;
  flex-direction: column;
  text-align: center;
  border-radius: 0.8666666667rem;
  overflow: hidden;
  color: #565e76;
  background-color: white;
  box-shadow: 0 0 1.6rem rgba(8, 89, 150, 0.2);
}
.server-card h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #085996;
  margin: 0 0 1.6rem;
}
.server-card p {
  margin: 0 0 2.4rem;
  flex: 1;
}
.server-card p em {
  text-decoration: underline;
  font-style: normal;
}
.server-card ul {
  list-style: none;
  margin: 0 0 4.6666666667rem;
  padding: 0;
  font-weight: 600;
  font-size: 1.2666666667rem;
}
.server-card ul li + li {
  margin-top: 1.6rem;
}
.server-card footer {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 100%;
}
.server-card footer > * {
  flex: 1;
  width: calc(50% - 0.6666666667rem);
}
.server-card footer > *:not(:first-of-type) {
  margin-left: 0.6666666667rem;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.small-banner {
  background-color: white;
}
.small-banner .small-banner__text h1 {
  margin: 4.6666666667rem 0;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.thumbnail__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1);
  transition: transform 0.2s ease-in;
}
.thumbnail {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #e7e9ee;
}
.thumbnail::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: #6bbfff;
  opacity: 0.35;
  transition-property: visibility, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  visibility: visible;
}
.thumbnail:hover::after {
  opacity: 0;
  visibility: hidden;
}
.thumbnail:hover .thumbnail__image {
  transform: scale(1.05);
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.video {
  display: block;
  text-align: center;
  margin: 1.6rem auto;
}
.video video {
  display: block;
  margin: 0 auto;
  max-width: 76rem;
  max-height: 33.3333333333rem;
}
.video.video--left {
  float: left;
  margin: 0 1.6rem 1.6rem 0;
}
.video.video--left video {
  margin-right: 0;
}
.video.video--right {
  float: right;
  margin: 0 0 1.6rem 1.6rem;
}
.video.video--right video {
  margin-left: 0;
}
.video.video--left,
.video.video--right {
  width: 40%;
  min-width: 13.3333333333rem;
}
.video.video--left video,
.video.video--right video {
  max-width: 100%;
}
.video.video--full {
  width: 100%;
}
.video figcaption {
  padding: 0.6666666667rem 0 0;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
@-webkit-keyframes cursor {
  from {
    border-right-color: transparent;
  }
  50% {
    border-right-color: #333847;
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes cursor {
  from {
    border-right-color: transparent;
  }
  50% {
    border-right-color: #333847;
  }
  to {
    border-right-color: transparent;
  }
}
[data-word-typer] {
  font-family: "Inter", sans-serif;
  color: #085996;
  background-color: #e6f4ff;
  border-right: 0.4rem solid transparent;
}
[data-word-typer]:not(.word-typer--is-idle) {
  border-right-color: #333847;
}
[data-word-typer].word-typer--is-idle {
  -webkit-animation: cursor 1s steps(1, start) infinite;
          animation: cursor 1s steps(1, start) infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.about-us-cta__content {
  text-align: right;
}
.about-us-cta__content h2,
.about-us-cta__content p {
  text-align: left;
}
.about-us-cta__content p {
  margin: 0 auto 3.3333333333rem;
}
.about-us-cta__content h2 {
  font-weight: 600;
  font-size: 2rem;
  margin: 0 auto 1.6rem;
}
@media screen and (min-width: 1141px) {
  .about-us-cta {
    background-image: linear-gradient(90deg, #c2e4ff 0 50%, #d3f0f3 50% 100%);
  }

  .about-us-cta__content {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

  .about-us-cta__left,
.about-us-cta__right {
    flex: 1;
  }

  .about-us-cta__left {
    padding: 4.6666666667rem 6.6666666667rem 4.6666666667rem 0;
  }

  .about-us-cta__right {
    padding: 4.6666666667rem 0 4.6666666667rem 6.6666666667rem;
  }
}
@media screen and (max-width: 1140px) {
  .about-us-cta .root__row-content {
    padding-left: 0;
    padding-right: 0;
  }

  .about-us-cta__left,
.about-us-cta__right {
    padding: 3.3333333333rem 1.6rem;
  }

  .about-us-cta__left {
    background-color: #c2e4ff;
  }

  .about-us-cta__right {
    background-color: #d3f0f3;
  }
}
.blog-banner .picture-banner__background {
  background-position: 108% 1%;
}
.blog-pagination {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 4.6666666667rem auto 8rem;
}
.blog-pagination li {
  margin: 0 0.5333333333rem;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.donate {
  padding: 4.6666666667rem 0 0;
}
.donate h1 {
  font-size: 3.0666666667rem;
  color: #085996;
  margin: 0 auto 2.4rem;
  text-align: center;
}
.donate p {
  text-align: center;
  color: #565e76;
  width: 100%;
  max-width: 46.6666666667rem;
  margin: 0 auto 3.0666666667rem;
}
.donate .kobo-fundraiseup {
  text-align: center;
  padding: 4.6666666667rem;
  border-radius: 0.8666666667rem 0.8666666667rem 0 0;
  background-color: white;
  box-shadow: 0 0 1.6rem rgba(8, 89, 150, 0.2);
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.faqs {
  padding: 4.6666666667rem 0;
}
.faqs h1 {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  margin: 0 0 4.6666666667rem;
  padding: 0;
}
.faqs__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.faqs__item {
  border-top: 0.0666666667rem solid #d3d6df;
  padding: 1.2666666667rem 0 1rem;
}
.faqs__question {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Lora", serif;
  color: #085996;
  padding-bottom: 1rem;
}
.faqs__question:hover {
  -webkit-text-decoration-color: #53c5d0;
          text-decoration-color: #53c5d0;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  text-decoration-thickness: 0.2666666667rem;
}
.faqs__question label {
  flex: 1;
  cursor: inherit;
}
.faqs__question svg {
  fill: #7485b9;
}
.faqs__answer {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.25s ease-in;
  transition: grid-template-rows 0.25s ease-in, -ms-grid-rows 0.25s ease-in;
}
.faqs__answer-content {
  align-self: start;
  min-height: 0;
  transition: visibility 0.25s ease-in;
  visibility: hidden;
}
.faqs__answer-content p {
  margin: 0 0 1rem;
}
.faqs__item.faqs__item--opened .faqs__question svg {
  transform: rotate(180deg);
}
.faqs__item.faqs__item--opened .faqs__answer {
  grid-template-rows: 1fr;
}
.faqs__item.faqs__item--opened .faqs__answer-content {
  visibility: visible;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.featured-posts__row {
  background-image: linear-gradient(180deg, #e6f4ff 0 45%, transparent 45% 100%);
  background-color: white;
}
.featured-posts {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 100%;
  max-width: 85.3333333333rem;
  margin: 0 auto;
  padding: 3.3333333333rem 0 2rem;
}
.featured-posts__slider-wrapper {
  width: 100%;
  max-width: 76rem;
  margin: 0 auto;
}
.featured-posts__slider {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.featured-posts__slider-item {
  height: auto;
}
.featured-posts__slider-item .post-card {
  height: 100%;
}
.featured-posts__prev,
.featured-posts__next {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  height: auto;
  padding: 0;
  margin: 0;
  border: none;
  width: 4.6666666667rem;
  height: 4.6666666667rem;
  color: #d3d6df;
}
.featured-posts__prev[disabled],
.featured-posts__next[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
.featured-posts__prev:active,
.featured-posts__next:active {
  transform: translateY(0.0666666667rem);
}
.featured-posts__prev:hover,
.featured-posts__next:hover {
  color: #53c5d0;
}
.featured-posts__prev svg,
.featured-posts__next svg {
  fill: currentcolor;
  height: 1.6rem;
  width: 1.0666666667rem;
}
.featured-posts .tns-nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 2rem;
}
.featured-posts .tns-nav button {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  height: auto;
  padding: 0;
  margin: 0;
  border: none;
  display: block;
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  border-radius: 50%;
  background-color: #e7e9ee;
  cursor: pointer;
  margin: 0.5333333333rem;
}
.featured-posts .tns-nav button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
.featured-posts .tns-nav button:active {
  transform: translateY(0.0666666667rem);
}
.featured-posts .tns-nav button.tns-nav-active {
  background-color: #259af4;
}
@media screen and (max-width: 1280px) {
  .featured-posts__row {
    background: #e6f4ff;
  }

  .featured-posts__slider-wrapper .featured-posts__slider-item {
    padding: 0.6666666667rem;
  }

  .featured-posts__slider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .featured-posts__prev,
.featured-posts__next {
    display: none;
  }
}
#tns1 > .tns-item:last-child {
  padding-right: 0 !important;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.features-banner__logos {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  list-style: none;
  margin: 1.6rem 0 0;
  padding: 0;
  color: #7485b9;
}
.features-banner__logos li + li {
  margin-left: 3.0666666667rem;
}
.features-banner__logos li a {
  display: block;
  transition: transform 0.25s ease-out;
}
.features-banner__logos li a:hover {
  transform: scale(1.05);
}
.features-banner__logos svg {
  max-width: 10.6666666667rem;
  max-height: 2.6666666667rem;
}
.features-list {
  padding-bottom: 2rem;
}
.features-list h2 {
  text-align: center;
  font-weight: 600;
  font-size: 2.4rem;
}
.features-list__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.features-list__list > li {
  flex: 1;
  margin: 1.6rem;
}
.features-list__link {
  text-align: center;
  margin: 1.6rem 0 2rem;
}
.get-started h2 {
  text-align: center;
  font-weight: 600;
  font-size: 2.4rem;
}
.home-banner .picture-banner__background {
  background-position: 125% 6%;
}
.home-banner .picture-banner__text {
  margin-top: 3.3333333333rem;
  margin-bottom: 4.6666666667rem;
}
.home-banner .banner-text h1 {
  margin-bottom: 4.6666666667rem;
}
.home-banner__buttons {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  list-style: none;
  margin: 1.6rem 0 0 0;
  padding: 0;
}
.home-banner__buttons > li + li {
  margin-left: 0.6666666667rem;
}
@media screen and (max-width: 1280px) {
  .home-banner__buttons {
    justify-content: center;
  }

  .home-banner__word-typer-wrapper {
    display: block !important;
  }
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.join-community {
  padding: 4.6666666667rem 0;
}
.join-community__column h2 {
  margin: 0 0 2rem;
}
@media screen and (min-width: 1281px) {
  .join-community {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

  .join-community__column.join-community__column--image {
    flex: 2;
  }
  .join-community__column.join-community__column--title {
    flex: 2;
    text-align: right;
    margin-right: 3.3333333333rem;
  }
  .join-community__column.join-community__column--title h2 {
    margin-right: 1rem;
  }
  .join-community__column.join-community__column--description {
    flex: 3;
  }
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.partners {
  padding: 2rem 0 4.6666666667rem;
  text-align: center;
}
.partners h2 {
  text-align: center;
  font-weight: 600;
  font-size: 2.4rem;
}
.partners p {
  margin: 1.6rem 0 0;
}
.partners p a {
  text-decoration: underline;
}
.partners p a:hover {
  text-decoration-thickness: 0.1333333333rem;
}
.partners__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.partners__list li {
  display: inline-block;
  vertical-align: top;
  margin: 2.4rem 4.6666666667rem;
}
.partners__list li a {
  display: block;
  transition: transform 0.25s ease-out;
}
.partners__list li a:hover {
  transform: scale(1.05);
}
.partners__list svg {
  max-width: 13.3333333333rem;
  max-height: 4.6666666667rem;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.post-help {
  padding: 4.6666666667rem 0;
}
.post-help::after {
  content: "";
  clear: both;
  display: table;
}
.post-help h2 {
  font-weight: 600;
  font-size: 2.4rem;
  margin: 0 auto 2.4rem;
}
.post-help h2,
.post-help p {
  width: 100%;
  max-width: 46.6666666667rem;
  margin-left: auto;
  margin-right: auto;
}
.post-help p {
  margin-bottom: 1.6rem;
}
@media screen and (min-width: 1281px) {
  .post-help .kobo-fundraiseup {
    float: right;
    margin-left: 2.4rem;
    width: 50%;
  }
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.post-related {
  width: 100%;
  max-width: 46.6666666667rem;
  margin: 0 auto;
  padding: 3.3333333333rem 0;
}
.post-related h2 {
  font-weight: 600;
  font-size: 2.4rem;
  margin: 0 auto 2rem;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.post {
  padding: 4.6666666667rem 0;
}
.post::after {
  content: "";
  clear: both;
  display: table;
}
.post__header,
.post__social,
.post__content > *:not(.video):not(.image) {
  width: 100%;
  max-width: 46.6666666667rem;
  margin: 0 auto;
}
.post__content > *:not(.video):not(.image):not(:last-child) {
  margin-bottom: 1.6rem;
}
.post__header {
  margin-bottom: 2.4rem;
}
.post__header h1 {
  display: block;
  font-size: 3.0666666667rem;
  font-weight: 700;
  color: #333847;
  margin: 0 auto 1.6rem;
}
.post__header h2 {
  font-family: "Inter", sans-serif;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  color: #7485b9;
  text-transform: uppercase;
  margin: 0 auto 0.6666666667rem;
}
.post__header time,
.post__author,
.post__author::before {
  display: inline-block;
  vertical-align: middle;
  color: #565e76;
}
.post__author {
  font-size: 1.2666666667rem;
  font-weight: 700;
}
.post__author::before {
  content: "";
  width: 2px;
  height: 0.6666666667rem;
  background-color: #259af4;
  vertical-align: 0.0666666667rem;
  margin: 0 1.2666666667rem;
}
.post__content a {
  text-decoration: underline;
  color: #085996;
}
.post__content a:hover {
  color: #53c5d0;
}
.post__content blockquote {
  border-left: 0.5333333333rem solid #259af4;
  padding-left: 1.6rem;
  color: #085996;
  font-family: "Lora", serif;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.sign-up-banner {
  margin: 0 auto;
  width: 100%;
  max-width: 46.6666666667rem;
  padding: 4.6666666667rem 0;
  text-align: center;
}
.sign-up-banner h1 {
  font-size: 3.0666666667rem;
  color: #085996;
  margin: 0 auto 2.4rem;
}
.sign-up-banner p {
  color: #565e76;
  margin: 1.6rem auto 0;
}
.sign-up-banner p a {
  color: #085996;
  text-decoration: underline;
}
.sign-up-banner p a:hover {
  text-decoration-thickness: 0.1333333333rem;
}
/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */
/*
 * Primary colours & shades
 */
/*
 * Secondary & tertiary colors
 */
.sign-up-servers {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  width: 100%;
  padding: 0 0 4.6666666667rem;
}
