---
title: "Get involved"
page_id: "get-involved"
---

{% include components/small-banner.liquid title="Help us keep<br/>KoboToolbox free,<br/>useful and accessible." %}

{% include components/feature-row.liquid
  title="Donate"
  description="TODO"
  row_color="light-blue"
%}

{% include components/feature-row.liquid
  title="Participate"
  description="TODO"
  row_color="gry"
%}

{% include components/feature-row.liquid
  title="Volunteer"
  description="TODO"
  row_color="light-teal"
%}

{% include components/feature-row.liquid
  title="Join our team"
  description="TODO"
  row_color="storm"
%}
