---
title: "Get involved"
---

{% include components/small-banner.liquid title="Help us keep;KoboToolbox free,;useful and accessible." %}

{% include components/feature-row.liquid
  id="donate"
  title="Donate"
  description="TODO"
  row_color="light-blue"
%}

{% include components/feature-row.liquid
  id="participate"
  title="Participate"
  description="TODO"
  row_color="gry"
%}

{% include components/feature-row.liquid
  id="volunteer"
  title="Volunteer"
  description="TODO"
  row_color="light-teal"
%}

{% include components/feature-row.liquid
  id="join-our-team"
  title="Join our team"
  description="TODO"
  row_color="storm"
%}
