---
title: "Get involved"
---

{% include components/small-banner.liquid title="Help us keep;KoboToolbox free,;useful and accessible." %}

{% include components/feature-row.liquid
  id="donate"
  show_fundraiseup=true
  title="Donate"
  description="TODO"
  row_color="light-blue"
  icon_url="features/test-deleteme.svg"
%}

{% include components/feature-row.liquid
  id="participate"
  title="Participate"
  description="TODO"
  row_color="gry"
  image_url="test/mad-max-beyond-thunderdome.jpg"
  icon_url="features/test-deleteme.svg"
%}

{% include components/feature-row.liquid
  id="volunteer"
  title="Volunteer"
  description="TODO"
  row_color="light-teal"
  image_url="test/mad-max-beyond-thunderdome.jpg"
  icon_url="features/test-deleteme.svg"
%}

{% include components/feature-row.liquid
  id="join-our-team"
  is_image_full_height=true
  title="Join our team"
  description="Do you want to be part of our team? We are a group of passionate professionals working remotely from all corners of the world. We maintain a horizontal, creative and flexible workflow that ensures KoboToolbox continues to be an innovative global good. If this sounds like a right fit for you, check <a href='/join-our-team'>the list of open positions</a> for more information on how to apply.<br/><br/>Please note that we will only review applications to existing job openings. Unfortunately, we can't review general applications at this time."
  row_color="storm"
  image_url="sections/team-kobo-2428.jpg"
  icon_url="features/test-deleteme.svg"
%}
