---
title: "Features"
page_id: "features"
---

{% include sections/features-banner.liquid %}

{% include components/feature-row.liquid
  title="Design fully customizable forms"
  description="TODO"
  row_color="light-blue"
  image_url="test/mad-max-beyond-thunderdome.jpg"
%}

{% include components/feature-row.liquid
  title="Collect data anywhere, online or offline"
  description="TODO"
  row_color="gray"
%}

{% include components/feature-row.liquid
  title="Review, analyze and download your data"
  description="TODO"
  row_color="light-teal"
%}

{% include components/feature-row.liquid
  title="Collaborate and manage projects and teams"
  description="TODO"
  row_color="storm"
%}

{% include components/feature-row.liquid
  title="Integrate with external tools and applications"
  description="TODO"
  row_color="light-blue"
%}
