@use 'colors';
@use '_assets/styles/setup/sizes';
@use '_assets/styles/setup/fonts';

// Add this to a banner to make the text inside use these rules.
.banner-text {
  h1 {
    display: block;
    width: 100%;
    font-size: sizes.$r46;
    font-weight: 600;
    line-height: 1.4;
    color: colors.$kobo-gray-24;
    margin: sizes.$r30 0;
  }

  h2 {
    font-family: fonts.$family-default;
    display: block;
    width: 100%;
    font-size: sizes.$r13;
    font-weight: 600;
    line-height: 1.4;
    color: colors.$kobo-storm;
    text-transform: uppercase;
  }

  p {
    font-size: sizes.$r15;
    line-height: 1.6;
  }
}
