@use 'colors';
@use '_assets/styles/setup/sizes';
@use '_assets/styles/setup/fonts';
@use '_assets/styles/setup/variables';

// Add this to a banner to make the text inside use these rules.
.banner-text {
  h1 {
    display: block;
    font-size: sizes.$r46;
    font-weight: 600;
    color: colors.$kobo-gray-24;
    margin: sizes.$r30 0;
  }

  h2 {
    font-family: fonts.$family-default;
    display: block;
    font-size: sizes.$r13;
    font-weight: 600;
    color: colors.$kobo-storm;
    text-transform: uppercase;
  }
}

@media screen and (max-width: #{variables.$content-width}) {
  .banner-text h1 div {
    display: inline;
  }

  .banner-text {
    text-align: center;
  }
}

@media screen and (min-width: #{variables.$content-width + 1px}) {
  .banner-text h1,
  .banner-text h2,
  .banner-text p {
    width: 50%;
  }
}
