@use 'colors';
@use '_assets/styles/setup/sizes';
@use '_assets/styles/setup/fonts';

.feature-card {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  text-align: center;

  label {
    cursor: inherit;
    font-weight: 600;
    font-size: sizes.$r19;
    color: colors.$kobo-dark-blue;
    line-height: fonts.$leading-headings;
    margin-top: sizes.$r15;
    display: block;
  }

  &:hover label {
    text-decoration: underline solid #{sizes.$r4} colors.$kobo-teal;
  }

  &:active {
    // Make it appear pressed down.
    transform: translateY(sizes.$r1);
  }
}

.feature-card__icon {
  max-width: 100%;
}
