@use 'sass:color';
@use 'colors';
@use '_assets/styles/setup/utils';
@use '_assets/styles/setup/sizes';
@use '_assets/styles/setup/variables';
@use '_assets/styles/setup/fonts';

.feature-row {
  width: 100%;
  overflow: hidden;
}

.feature-row__content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 0 auto;
  width: 100%;
  max-width: variables.$full-content-width;

  h1 {
    font-family: fonts.$family-default;
    font-weight: 700;
    font-size: sizes.$r36;
    margin: sizes.$r30 0;
  }

  p {
    margin: 0;
  }

  p + p {
    margin-top: fonts.$leading-default-rem;
  }

  a {
    text-decoration: underline;
    color: colors.$kobo-dark-blue;

    &:hover {
      color: colors.$kobo-teal;
    }
  }
}

.feature-row__left-side {
  width: 40%;
  padding-left: (variables.$full-content-width - variables.$content-width) * 0.5;
  padding-right: sizes.$r50;
  padding-top: sizes.$r70;
  padding-bottom: sizes.$r70;
}

.feature-row__right-side {
  width: 60%;

  &:not(.feature-row__right-side--no-paddings) {
    padding: sizes.$r100 sizes.$r30 sizes.$r50 0;
  }
}

.feature-row__icon {
  max-width: sizes.$r160;
  max-height: sizes.$r160;
}

.feature-row__image {
  display: block;
  max-width: 100%;

  &.feature-row__image--raised {
    border-radius: sizes.$r6;
    box-shadow: 0 sizes.$r6 sizes.$r13 color.change(colors.$kobo-gray-40, $alpha: 0.25);
  }
}
