@use 'colors';
@use '_assets/styles/setup/fonts';
@use '_assets/styles/setup/utils';
@use '_assets/styles/setup/sizes';
@use '_assets/styles/setup/variables';

.footer-nav {
  @include utils.center-row-flex;

  align-items: flex-start;
  justify-content: space-between;
  padding: sizes.$r80 0;
  width: 100%;
}

.footer-nav__menu {
  @include utils.list-reset;

  flex: 3;

  label {
    font-weight: 400;
    font-size: sizes.$r15;
    color: colors.$kobo-light-blue;
    text-transform: uppercase;
  }

  li a {
    font-weight: 600;
    font-size: sizes.$r15;
    color: colors.$kobo-white;
    margin-top: sizes.$r19;
    display: block;

    &:hover {
      text-decoration-color: colors.$kobo-teal;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-thickness: sizes.$r2;
    }
  }
}

.footer-nav__newsletter {
  flex: 5;
}

.footer-nav__newsletter h3 {
  font-size: sizes.$r36;
  font-weight: 700;
  font-family: fonts.$family-default;
  margin: -#{sizes.$r10} 0 sizes.$r13;
}

.footer-nav__newsletter p {
  margin: 0 0 sizes.$r24;
}

.footer-nav__social {
  flex: 3;
  text-align: right;
}

.footer-nav__social nav {
  @include utils.center-row-flex;

  justify-content: flex-end;
  list-style: none;
}

.footer-nav__social nav li a {
  margin: 0 sizes.$r15 sizes.$r15;
}

.footer-nav__logo {
  display: block;
  margin-top: sizes.$r15;

  img {
    width: utils.rem(180px);
    transform: scale(1);
    transition: transform 0.25s ease-out;
  }

  &:hover img {
    transform: scale(1.025);
  }
}
