@use 'colors';
@use '_assets/styles/setup/sizes';
@use '_assets/styles/setup/utils';
@use '_assets/styles/setup/variables';

.humans-list {
  @include utils.list-reset;
}

.humans-list__human {
  text-align: center;
  margin-bottom: sizes.$r19;
}

.humans-list__human-name {
  color: colors.$kobo-dark-blue;
  font-weight: 700;
  font-size: sizes.$r24;
  margin: sizes.$r19 0 sizes.$r15;

  // span's are to not split last name
  > span {
    white-space: nowrap;
  }
}

.humans-list__human-position {
  font-size: sizes.$r19;
}

.humans-list__thumbnail {
  display: block;
  position: relative;
  width: sizes.$r200;
  height: sizes.$r200;
  border-radius: sizes.$r6;
  overflow: hidden;
  cursor: pointer;
}

@media screen and (min-width: #{variables.$blog-content-width + 1px}) {
  .humans-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: sizes.$r50;
    grid-auto-flow: row;
  }
}

@media screen and (max-width: #{variables.$blog-content-width}) {
  .humans-list {
    text-align: center;
  }

  .humans-list__human {
    width: sizes.$r200;
    display: inline-block;
    vertical-align: top;
    margin: sizes.$r24;
  }
}
