@use 'colors';

// TODO update those

.image {
  display: block;
}

.image.image--left {
  float: left;
  margin: 1rem 1rem 1rem 0;
}

.image.image--right {
  float: right;
  margin: 1rem 0 1rem 1rem;
}

.image.image--left,
.image.image--right {
  width: 30%;
  min-width: 250px;
}

.image.image--full {
  width: 100%;
  margin: 1rem auto;
}

// NOTE: url is optional, so we style active link separately below
.image__link {
  display: block;
}

.image__link[href] {
  cursor: pointer;
}

.image__link[href]:hover {
  box-shadow: 0 0 1px 1px colors.$kobo_blue;
}

.image__img {
  display: block;
}

.image__caption {
  font-style: italic;
  border-bottom: 1px solid colors.$kobo_gray_85;
  padding: 0.33rem 0;
}
