@use 'colors';
@use '_assets/styles/setup/sizes';

.job-closed-message {
  color: colors.$kobo-dark-blue;
  text-align: center;
  font-weight: 700;
  padding: sizes.$r30 0;
  margin: 0;
}

.job-closed-message a {
  text-decoration: underline;

  &:hover {
    text-decoration-thickness: sizes.$r2;
  }
}
