@use 'colors';
@use '_assets/styles/setup/sizes';
@use '_assets/styles/setup/fonts';

.post-card {
  display: flex;
  flex-direction: column;
  border-radius: sizes.$r6;
  overflow: hidden;
  border: sizes.$r1 solid colors.$kobo-gray-85;
  background-color: colors.$kobo-white;

  h3 {
    font-size: sizes.$r19;
    color: colors.$kobo-gray-24;
    margin: sizes.$r30;
    flex: 1;
  }

  &:hover {
    h3 {
      text-decoration: underline solid #{sizes.$r4} colors.$kobo-teal;
    }

    .post-card__cta-icon {
      transform: translateX(sizes.$r6);
    }
  }
}

.post-card__thumbnail {
  display: block;
  position: relative;
  width: 100%;
  height: sizes.$r160;

  &:focus-visible {
    outline: 0;

    .thumbnail .thumbnail__image {
      box-shadow: inset 0 0 0 sizes.$r4 colors.$kobo-blue;
    }
  }
}

.post-card__cta {
  margin: 0 sizes.$r30 sizes.$r15;
  text-align: right;
  color: colors.$kobo-storm;
}

.post-card__cta-icon {
  display: inline-block;
  transition: transform 0.25s ease-in-out;
}
