@use 'colors';
@use '_assets/styles/setup/sizes';

.post-summary {
  display: flex;
  flex-direction: row;
  padding: sizes.$r50 0;

  h2 {
    margin: 0;
    color: colors.$kobo-dark-blue;
  }

  &:hover h2 {
    text-decoration: underline solid #{sizes.$r4} colors.$kobo-teal;
  }
}

.post-summary + .post-summary {
  border-top: sizes.$r1 solid colors.$kobo-gray-92;
}

.post-summary__left {
  padding-right: sizes.$r50;
}

.post-summary__right {
  display: flex;
  flex-direction: column;
}

.post-summary__thumbnail {
  display: block;
  position: relative;
  width: sizes.$r200;
  height: sizes.$r200;
  overflow: hidden;
  border-radius: sizes.$r6;
}

.post-summary p {
  flex: 1;
  margin: sizes.$r24 0;
}
