@use 'sass:math';
@use '_assets/styles/setup/utils';
@use '_assets/styles/setup/sizes';

.quick-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    width: calc(33.3333% - #{math.div(sizes.$r70 * 2, 3)});
    margin-bottom: sizes.$r70;

    &:nth-child(3n+1),
    &:nth-child(3n+2) {
      margin-right: sizes.$r70;
    }
  }
}
