@use 'colors';
@use '_assets/styles/setup/sizes';

.thumbnail__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1);
  transition: transform 0.2s ease-in;
}

.thumbnail {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: colors.$kobo-gray-92;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: colors.$kobo-alt-blue;
    opacity: 0.35;
    transition-property: visibility, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    visibility: visible;
    pointer-events: none;
  }

  &:hover::after {
    opacity: 0;
    visibility: hidden;
  }

  &:hover .thumbnail__image {
    transform: scale(1.05);
  }
}
