@use 'colors';
@use '_assets/styles/setup/utils';
@use '_assets/styles/setup/sizes';
@use '_assets/styles/setup/fonts';
@use '_assets/styles/setup/variables';

.video {
  display: block;
  text-align: center;
  margin: fonts.$leading-default-rem auto;
}

.video video {
  display: block;
  margin: 0 auto;
  max-width: utils.rem(variables.$content-width);
  max-height: sizes.$r500;
}

.video.video--left {
  float: left;
  margin: 0 fonts.$leading-default-rem fonts.$leading-default-rem 0;

  video {
    margin-right: 0;
  }
}

.video.video--right {
  float: right;
  margin: 0 0 fonts.$leading-default-rem fonts.$leading-default-rem;

  video {
    margin-left: 0;
  }
}

.video.video--left,
.video.video--right {
  width: 40%;
  min-width: sizes.$r200;

  video {
    max-width: 100%;
  }
}

.video.video--full {
  width: 100%;
}

.video figcaption {
  padding: sizes.$r10 0 0;
}
