@use 'colors';
@use '_assets/styles/setup/sizes';
@use '_assets/styles/setup/fonts';
@use '_assets/styles/setup/variables';

@keyframes cursor {
  from {border-right-color: transparent;}
  50% {border-right-color: colors.$kobo-gray-24;}
  to {border-right-color: transparent;}
}

[data-word-typer] {
  font-family: fonts.$family-default;
  color: colors.$kobo-dark-blue;
  background-color: colors.$kobo-light-blue;
  border-right: sizes.$r6 solid transparent;

  &:not(.word-typer--is-idle) {
    border-right-color: colors.$kobo-gray-24;
  }

  &.word-typer--is-idle {
    animation: cursor 1s steps(1, start) infinite;
    animation-fill-mode: forwards;
  }
}
