<section id="donate" class="section section-text-page">
    <div class="container">
        <h2>How to make a donation to KoboToolbox</h2>

        {% include components/fundraiseup.liquid %}

        <p><strong>Why give to KoboToolbox?</strong></p>
        <p>When you make a gift to Kobo, Inc., you are contributing to support the most widely used humanitarian data collection tools in the world. KoboToolbox is used by hundreds of thousands of people working in all humanitarian emergencies around the globe, as well as responding to global health crises such as COVID-19, supporting economic and social development, or conducting primary research through surveys. We are used by over 3,000 institutions, including the world’s biggest and most important humanitarian organizations, who rely on KoboToolbox to collect more than 100 million surveys a year.</p>
        <p><strong>How can I give online?</strong></p>
        <p>Make a donation to the KoboToolbox via our secure FundraiseUp account. Please use the donation form above.</p>
        <p><strong>How can I give a gift by check?</strong></p>
        <p>To make a gift by check, please mail it to Kobo, Inc, 37 Highland Ave, Cambridge MA, 02139. Please make your check payable to Kobo Inc.</p>
        <p><strong>Can I make a gift by wire transfer?</strong></p>
        <p>Yes. Please reach out to us at <a href="mailto:donate@kobotoolbox.org">donate@kobotoolbox.org</a> for wire transfer instructions.</p>
        <p><strong>How can I give monthly?</strong></p>
        <p>Please refer to the "How can I give online?" above. There is an option for monthly donations.</p>
        <p>If you you’re already a recurring donor and need assistance, please email <a href="mailto:donate@kobotoolbox.org">donate@kobotoolbox.org</a>.</p>
    </div>
</section>
