@use 'colors';
@use '_assets/styles/setup/utils';
@use '_assets/styles/setup/fonts';
@use '_assets/styles/setup/variables';

html {
  // Sorry for complexity here, but we want the fluid size to become
  // $root-font-size at 1440px viewport width. That is why we are introducing
  // two scales: first up to 1440px, and second from 1441px.
  @media (max-width: 1440px) {
    @include utils.fluid-type(
      360px,
      1440px,
      variables.$root-font-size - 3px,
      variables.$root-font-size
    );
  }

  @media (min-width: 1441px) {
    @include utils.fluid-type(
      1440px,
      1920px,
      variables.$root-font-size,
      variables.$root-font-size + 3px
    );
  }

  height: 100%;
  font-family: fonts.$family-default;
  background-color: colors.$kobo-white;
  color: colors.$kobo-gray-24;
}

* {
  box-sizing: border-box;
}

a {
  color: currentcolor;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: fonts.$family-headings;
  margin: 0;
}
