@use '_assets/styles/setup/utils';
@use '_assets/styles/setup/sizes';

// Families
$family-default: 'Inter', sans-serif;
$family-headings: 'Lora', serif;
$family-numbers: 'Helvetica Neue', 'Helvetica', sans-serif;

// Line height
$leading-default: 1.6;
$leading-default-rem: utils.rem(utils.$root-font-size * $leading-default);
$leading-headings: 1.4;
