@use "sizes";

// We use Lora for headings, and Inter for everything else.
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lora:wght@600&display=swap");

// Families
$family-default: "Inter", sans-serif;
$family-headings: "Lora", serif;
$family-numbers: "Helvetica Neue", "Helvetica", sans-serif;

// Limited font sizes palette.
$size-1: sizes.$r12;
$size-2: sizes.$r15;
$size-3: sizes.$r19;
$size-4: sizes.$r24;
$size-5: sizes.$r30;
$size-5: sizes.$r32;
$size-6: sizes.$r36;
$size-7: sizes.$r46;
