@use 'utils';
@use 'colors';
@use 'sizes';
@use 'variables';
@use 'sass:color';

$header-height: sizes.$r70;

// Base division is simple three top-down sections: header, main, and footer.

.root {
  min-height: 100%;
  height: 100%;
}

// Sticky header.
.root__header {
  @include utils.center-row_flex;

  height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: colors.$kobo-white;

  &::after {
    content: '';
    height: sizes.$r10;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: transparent;
    transition-duration: 0.5s;
    transition-property: background-color;
    transition-delay: 0.25s;
    transition-timing-function: ease-in-out;
  }
}

.root.root--is-scrolled {
  .root__header::after {
    background-color: color.change(colors.$kobo-gray-65, $alpha: 0.1);
  }
}

.root__main {
  min-height: calc(100% - #{$header-height});
  padding-top: $header-height; // For sticky header.
}

.root__footer {
  @include utils.center-row-flex;

  color: colors.$kobo-white;
  background-color: colors.$kobo-gray-40;
}

// Building blocks of each section - we allow full size anything within
// the `row`, but content must be contained within `row-content`.

.root__row {
  width: 100%;
}

.root__row-content {
  margin: 0 auto;
  width: 100%;
  max-width: utils.rem(variables.$content-width);
}

.root__row-content--wide {
  max-width: utils.rem(variables.$wide-content-width);
}
