@use 'colors';
@use 'sass:color';
@use '_assets/styles/setup/utils';
@use '_assets/styles/setup/sizes';
@use '_assets/styles/setup/variables';

// Base division is simple three top-down sections: header, main, and footer.

.root {
  min-height: 100%;
  height: 100%;
}

// Sticky header.
.root__header {
  @include utils.center-row_flex;

  height: variables.$header-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: colors.$kobo-white;
  z-index: variables.$z-header;

  // The shadow below sticky header. Hidden initially.
  &::after {
    content: '';
    height: sizes.$r10;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: transparent;
    transition-duration: 0.5s;
    transition-property: background-color;
    transition-delay: 0.25s;
    transition-timing-function: ease-in-out;
  }
}

.root.root--is-scrolled {
  .root__header::after {
    background-color: color.change(colors.$kobo-gray-14, $alpha: 0.05);
  }
}

.root__main {
  min-height: calc(100% - #{variables.$header-height});
  padding-top: variables.$header-height; // For sticky header.
}

.root__footer {
  @include utils.center-row-flex;

  color: colors.$kobo-white;
  background-color: colors.$kobo-gray-40;

  // we need this to be over the content for the floating menus (in about-us-subpage)
  position: relative;
  z-index: variables.$z-footer;
}

// Building blocks of each section - we allow full size anything within
// the `row`, but content must be contained within `row-content`.

.root__row {
  width: 100%;

  &.root__row--light-blue {
    background-color: colors.$kobo-light-blue;
  }

  &.root__row--mid-blue {
    background-color: colors.$kobo-mid-blue;
  }

  &.root__row--light-teal {
    background-color: colors.$kobo-light-teal;
  }

  &.root__row--teal {
    color: colors.$kobo-white;
    background-color: colors.$kobo-teal;
  }

  &.root__row--storm {
    background-color: colors.$kobo-light-storm;
  }

  &.root__row--gray {
    background-color: colors.$kobo-gray-98;
  }

  &.root__row--white {
    background-color: colors.$kobo-white;
  }
}

.root__row-content {
  margin: 0 auto;
  width: 100%;
  max-width: utils.rem(variables.$content-width);

  &.root__row-content--wide {
    max-width: utils.rem(variables.$wide-content-width);
  }

  &.root__row-content--full {
    max-width: utils.rem(variables.$full-content-width);
  }
}

@media screen and (max-width: #{variables.$content-width}) {
  // TODO: see if this is good idea, or too harsh
  .root__row-content {
    padding-left: variables.$screen-edge-padding;
    padding-right: variables.$screen-edge-padding;
  }
}
