@use '_assets/styles/setup/utils';

// A list of all different sizes we use. Already rem-ized.
$r1: utils.rem(1px);
$r2: utils.rem(2px);
$r4: utils.rem(4px);
$r6: utils.rem(6px);
$r8: utils.rem(8px);
$r10: utils.rem(10px);
$r12: utils.rem(12px); // minimum font size
$r13: utils.rem(13px);
$r14: utils.rem(14px);
$r15: utils.rem(15px);
$r16: utils.rem(16px);
$r18: utils.rem(18px);
$r19: utils.rem(19px);
$r24: utils.rem(24px);
$r30: utils.rem(30px);
$r32: utils.rem(32px);
$r36: utils.rem(36px);
$r38: utils.rem(38px);
$r46: utils.rem(46px);
$r50: utils.rem(50px);
$r52: utils.rem(52px);
$r70: utils.rem(70px);
$r80: utils.rem(80px);
$r200: utils.rem(200px);
