@use '_assets/styles/setup/utils';

// A list of all different sizes we use. Already rem-ized.
$r1: utils.rem(1px);
$r2: utils.rem(2px);
$r4: utils.rem(4px);
$r6: utils.rem(6px);
$r8: utils.rem(8px);
$r10: utils.rem(10px);
$r13: utils.rem(13px); // minimum text size
$r15: utils.rem(15px); // standard paragraph text
$r19: utils.rem(19px); // heading text
$r24: utils.rem(24px); // heading text
$r30: utils.rem(30px); // heading text
$r36: utils.rem(36px); // heading text
$r46: utils.rem(46px); // heading text
$r50: utils.rem(50px);
$r70: utils.rem(70px);
$r80: utils.rem(80px);
$r200: utils.rem(200px);
