@use '_assets/styles/setup/sizes';
@use '_assets/styles/setup/utils';

// A place for misc and global variables.

// We keep these breakpoints as raw px's because we use them in @media queries.
$blog-content-width: 700px; // Maximum width of the long text content (i.e. blog posts text).
$content-width: 1140px; // Maximum width of the actual content.
$wide-content-width: 1280px; // The width of wider variant (footer and header).
$full-content-width: 1440px; // The max width of content we want to support.

$header-height: utils.rem(70px);

// Padding to ensure content is not touching screen edges.
$screen-edge-padding: sizes.$r24;

// A list of all z-indexes we use.
$z-mobile-menu: 11;
$z-header: 10;
$z-footer: 9;
