{% include setup/template-start.liquid %}

{% include setup/page-header.liquid %}

{% include components/modal.liquid %}

<main class="root__main" role="main">
  {% include sections/post.liquid %}

  {% include sections/post-help.liquid %}

  {% include sections/post-related.liquid %}
</main>

{% include setup/page-footer.liquid %}

{% include setup/template-end.liquid %}
