{% include setup/template-start.liquid %}

{% include setup/page-header.liquid %}

<main class="root__main" role="main">{{ content }}</main>

{% include setup/page-footer.liquid %}

{% include setup/template-end.liquid %}
